body
{

}

.main 
{
	width: 806px;
	height:1000px;
}

#main-pov
{
	width:806px;
	height:200px;
}

#pov-title
{
	width:600px;
	height:60px;
	text-align: center;
	font-family: arial;
	font-size: 40px;
	font-weight: bold;
}

#pov-subtitle
{
	width:600px;
	height:40px;
	text-align: center;
	font-family: arial;
	font-size: 18px;
	color:#333;
}

#main-img
{
	background: url(../images/fat-baby.jpg);
	background-repeat: no-repeat;
	width:600px;
	height:480px;
}